@model eCommerceMVC.ViewModels.PageViewModel
@using eCommerceMVC.Resources
<section class="blog-banner-area">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h2>@Resources.AboutUs</h2>
            </div>
        </div>
    </div>
</section>

<section class="section-margin--small">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <p>@Resources.Welcome_to_Jomlah_Jo__your_number_one_source_for_all_things__We_re_dedicated_to_give_you_the_very_best_of_products_you_may_need_</p>
                <p>@Resources.Founded_in_2020_by_Jomlah_Jo_e_commerce_Company__Jomlah_Jo_has_come_a_long_way_from_its_beginnings_in_Amman_Jordan_</p>
                <p>@Resources.We_serve_customers_everywhere_in_Jordan__welcomed_with_great_openness_</p>
                <p>@Resources.We_hope_you_enjoy_our_products_as_much_as_we_enjoy_offering_them_to_you__If_you_have_any_questions_or_comments__please_don_t_hesitate_to_contact_us_</p>
            </div>
        </div>
    </div>
</section>
<hr />
@*<section class="mb-5"  style="display:none;">
        <div class="container">

            <div class="row">
                <div class="col col-12 py-5 text-center">
                    <h3>Our Team</h3>
                    <p>
                        Know more about us and the great work we do here at Jomlah Jo.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col col-12">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-header">
                                Founder &amp; Chief Operating Officer
                            </div>
                            <img class="card-img-top rounded-0" src="~/Content/images/site/team/person1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Jack Williams</h5>
                                <p class="card-text">
                                    People find me to be an upbeat, self-motivated team player with excellent communication skills. For the past several years I have worked in lead qualification, telemarketing, and customer service in the technology industry.
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fas fa-envelope mr-1"></i>
                                <a href="mailto:ceo@ecommerce-mvc.com">Contact Me</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Chief Marketing Officer
                            </div>
                            <img class="card-img-top rounded-0" src="~/Content/images/site/team/person2.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Amelia Rose</h5>
                                <p class="card-text">
                                    I am a dedicated person with a family of four. I enjoy reading, and the knowledge and perspective that my reading gives me has strengthened my skills and presentation abilities.
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fas fa-envelope mr-1"></i>
                                <a href="mailto:cmo@ecommerce-mvc.com">Contact Me</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                Chief Technology Officer
                            </div>
                            <img class="card-img-top rounded-0" src="~/Content/images/site/team/person3.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Charlie Mason</h5>
                                <p class="card-text">
                                    I’ll be the first to say that family photos are hard to get just right. Maybe you’ve been trying for years to get that holiday card money shot where everyone is actually smiling.
                                </p>
                            </div>
                            <div class="card-footer text-muted">
                                <i class="fas fa-envelope mr-1"></i>
                                <a href="mailto:cto@ecommerce-mvc.com">Contact Me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
