@model eCommerceMVC.Areas.Dashboard.ViewModels.DashboardViewModel

<div class="jumbotron jumbotron-fluid my-0">
    <div class="container">
        <h1 class="display-4">Hello, @User.Identity.Name!</h1>
        <p class="lead">
            Welcome to Jomlah Jo Dashboard. Below are a few demographics.
        </p>
    </div>
</div>

<div class="card-deck text-primary mt-4">

    <div class="card text-center ">
        <h1 class="card-title display-2 align-middle">
            @Model.CategoriesCount
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.ListAction("Categories")">Categories</a>
        </div>
    </div>

    <div class="card text-center ">
        <h1 class="card-title display-2 align-middle">
            @Model.ProductsCount
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.ListAction("Products")">Products</a>
        </div>
    </div>

    <div class="card text-center ">
        <h1 class="card-title display-2 align-middle">
            @Model.OrdersCount
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.ListAction("Orders")">Orders</a>
        </div>
    </div>
</div>
<div class="card-deck text-primary my-4">

    <div class="card text-center ">
        <h1 class="card-title display-2 align-middle">
            @Model.RolesCount
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.ListAction("Roles")">Roles</a>
        </div>
    </div>

    <div class="card text-center ">
        <h1 class="card-title display-2 align-middle">
            @Model.UserCount
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.ListAction("Users")">Users</a>
        </div>
    </div>

    <div class="card text-center ">
        <h1 class="card-title display-2 align-middle">
            @Model.CommentsCount
        </h1>
        <div class="card-footer display-4">
            <a href="@Url.ListAction("Comments")">Comments</a>
        </div>
    </div>

</div>