@model eCommerceMVC.Areas.Dashboard.ViewModels.UsersListingViewModel

@if (Model != null && Model.Users != null && Model.Users.Count > 0)
{
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th>
                    Roles
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>
                        <input type="hidden" value="@user.Id" />
                        @user.FullName
                    </td>
                    <td>
                        @user.UserName
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.Roles.Count
                    </td>
                    <td>
                        <a href="@Url.UserDetails(user.Id)" class="moreButton btn btn-primary">
                            <i class="fas fa-user mr-1"></i>
                            More Details
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Pager != null && Model.Pager.TotalPages > 1)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">

                @if (Model.Pager.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Users(Model.SearchTerm, Model.RoleID, Model.Pager.CurrentPage - 1)">Previous</a>
                    </li>
                }

                @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
                {
                    var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;

                    <li class="page-item @active">
                        <a class="page-link" href="@Url.Users(Model.SearchTerm, Model.RoleID, page)">
                            @page
                        </a>
                    </li>
                }

                @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Users(Model.SearchTerm, Model.RoleID, Model.Pager.CurrentPage + 1)">Next</a>
                    </li>
                }
            </ul>
        </nav>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        No users found.
    </div>
}