@using eCommerceMVC.Resources

<form class="row login_form" id="forgotPasswordForm">
    @Html.AntiForgeryToken()
    <div class="col-md-12 form-group">
        <input class="form-control" name="Username" placeholder="@Resources.Username" onfocus="this.placeholder = ''" onblur="this.placeholder = '@Resources.Username'">
    </div>
    <div class="col-md-12 form-group errorsRow" style="display:none">
        <div class="alert alert-danger errorMessages mb-0" role="alert"></div>
    </div>
    <div class="col-md-12 form-group">
        <button type="submit" id="forgotPasswordButton" class="button button-login w-100">@Resources.Recover_Account</button>
    </div>
</form>

<script>
    validateForgotPasswordForm();

     $("#forgotPasswordForm").submit(function (e) {
        submitForm();

        e.preventDefault();
    });

    //$("#forgotPasswordButton").click(function () {
    //    submitForm();
    //});

    function submitForm() {
        $(".errorsRow .errorMessages", "#forgotPasswordForm").html("");
        $(".errorsRow", "#forgotPasswordForm").hide(200);
        $(".errorsRow .errorMessages", "#forgotPasswordForm").hide();

        if ($("#forgotPasswordForm").valid()) {
            $(".floader", "#forgotPasswordForm").show();
            $(".response-holder", "#forgotPasswordForm").hide();

            $.ajax({
                url: "@Url.ForgotPassword()",
                type: "post",
                data: $("#forgotPasswordForm").serialize(),
            })
            .done(function (response) {
                if (response != null && response.Success) {
                    swal("Success!", "Please check your email. A password reset link has been sent to your account's email.", "success");
                }
                else {
                    $(".errorsRow .errorMessages", "#forgotPasswordForm").html(response.Messages);
                    $(".errorsRow", "#forgotPasswordForm").show(200);
                    $(".errorsRow .errorMessages", "#forgotPasswordForm").show();
                    $(".floader", "#forgotPasswordForm").hide();
                    $(".response-holder", "#forgotPasswordForm").show();
                }
             })
             .fail(function(jqXHR, textStatus, errorThrown) {
                 $(".floader", "#forgotPasswordForm").hide();
                 $(".response-holder", "#forgotPasswordForm").show();

                 swal("Error!", "An error has occured.", "error");

                 console.log('jqXHR:' + jqXHR);
                 console.log('textStatus:' + textStatus);
                 console.log('errorThrown:' + errorThrown);
             });
        }
    }
</script>