@model eCommerceMVC.ViewModels.ResetPasswordViewModel
@using eCommerceMVC.Resources

<form class="row login_form" id="resetPasswordForm">
    @Html.AntiForgeryToken()
    <input type="hidden" name="UserID" value="@Model.UserId">
    <input type="hidden" name="Code" value="@Model.Code">
    <div class="col-md-12 form-group">
        <input type="password" class="form-control" name="Password" placeholder="@Resources.Password" onfocus="this.placeholder = ''" onblur="this.placeholder = '@Resources.Password'" id="regPassword">
    </div>
    <div class="col-md-12 form-group">
        <input type="password" class="form-control" name="ConfirmPassword" placeholder="@Resources.Confirm_Password" onfocus="this.placeholder = ''" onblur="this.placeholder = '@Resources.Confirm_Password'">
    </div>
    <div class="col-md-12 form-group errorsRow" style="display:none">
        <div class="alert alert-danger errorMessages mb-0" role="alert"></div>
    </div>
    <div class="col-md-12 form-group">
        <button type="submit" id="resetPasswordButton" class="button button-login w-100">@Resources.Reset_your_password_</button>
    </div>
</form>

<script>
    validateResetPasswordForm();

    $("#resetPasswordForm").submit(function (e) {
        submitForm();

        e.preventDefault();
    });

    //$("#resetPasswordButton").click(function () {
    //    submitForm();
    //});

    function submitForm() {
        $(".errorsRow .errorMessages", "#resetPasswordForm").html("");
        $(".errorsRow", "#resetPasswordForm").hide(200);
        $(".errorsRow .errorMessages", "#resetPasswordForm").hide();

        if ($("#resetPasswordForm").valid()) {
            $(".floader", "#resetPasswordForm").show();
            $(".response-holder", "#resetPasswordForm").hide();

            $.ajax({
                url: "@Url.ResetPassword()",
                type: "post",
                data: $("#resetPasswordForm").serialize(),
            })
            .done(function (response) {
                if (response != null && response.Success) {
                    swal("Success!", response.Messages, "success").then((ok) => {
                        window.location.href = "@Url.Login()";
			        });
                }
                else {
                    $(".errorsRow .errorMessages", "#resetPasswordForm").html(response.Messages);
                    $(".errorsRow", "#resetPasswordForm").show(200);
                    $(".errorsRow .errorMessages", "#resetPasswordForm").show();
                    $(".floader", "#resetPasswordForm").hide();
                    $(".response-holder", "#resetPasswordForm").show();
                }
             })
             .fail(function(jqXHR, textStatus, errorThrown) {
                 $(".floader", "#resetPasswordForm").hide();
                 $(".response-holder", "#resetPasswordForm").show();

                 swal("Error!", "An error has occured.", "error");

                 console.log('jqXHR:' + jqXHR);
                 console.log('textStatus:' + textStatus);
                 console.log('errorThrown:' + errorThrown);
             });
        }
    }
</script>