@using eCommerceMVC.Resources

<section class="login_box_area section-margin--small">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <div class="hover">
                        <h4>@Resources.New_to_our_website_</h4>
                        <p>@ConfigurationsHelper.ApplicationIntro</p>
                        <a class="button button-account" href="@Url.Register()">@Resources.Create_an_Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>@Resources.Forgot_Password ?</h3>
                    @Html.Partial("_ForgotPassword")
                </div>
            </div>
        </div>
    </div>
</section>