@using Microsoft.AspNet.Identity
@using eCommerce.Entities
@model eCommerceMVC.Areas.Dashboard.ViewModels.OrderDetailsViewModel

@if (Model != null && Model.Order != null)
{
    var i = 0;
    var orderStatus = Model.Order.OrderHistory.OrderByDescending(x => x.ModifiedOn).FirstOrDefault();

    <div class="card text-center">
        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-light lead">
                Order Status
            </li>
            <li class="list-group-item">
                <table class="table table-borderless text-center mb-0">
                    <tbody>
                        @if (orderStatus != null)
                        {
                            <tr>
                                <td style="width:50%;">
                                    Order Status:
                                </td>
                                <td style="width:50%;">
                                    <h4 class="m-0">
                                        <span class="badge badge-secondary @Html.getCellBackgroundClassByOrderStatus((OrderStatus)orderStatus.OrderStatus)">
                                            @((OrderStatus)orderStatus.OrderStatus)
                                        </span>
                                    </h4>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td style="width:50%;">
                                Payment Method:
                            </td>
                            <td style="width:50%;">
                                @((PaymentMethods)Model.Order.PaymentMethod)
                            </td>
                        </tr>
                        @if (Model.Order.PaymentMethod == (int)PaymentMethods.CreditCard)
                        {
                            <tr>
                                <td style="width:50%;">
                                    Transaction ID:
                                </td>
                                <td style="width:50%;">
                                    @Model.Order.TransactionID
                                </td>
                            </tr>
                        }
                        <tr>
                            <td style="width:50%;">
                                Date:
                            </td>
                            <td style="width:50%;">
                                @Model.Order.PlacedOn
                            </td>
                        </tr>
                        @if (orderStatus != null && !(orderStatus.ModifiedOn.Equals(Model.Order.PlacedOn)))
                        {
                            <tr>
                                <td style="width:50%;">
                                    Updated On:
                                </td>
                                <td style="width:50%;">
                                    @(orderStatus.ModifiedOn)
                                </td>
                            </tr>
                        }
                        <tr>
                            <td style="width:50%;">
                                Order ID:
                            </td>
                            <td style="width:50%;">
                                @(Model.Order.ID)
                            </td>
                        </tr>
                        <tr>
                            <td style="width:50%;">
                                Order Unique Code:
                            </td>
                            <td style="width:50%;">
                                @Model.Order.OrderCode
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item bg-light lead">Order Details</li>
            <li class="list-group-item">
                <table class="table table-bordered m-0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var orderItem in Model.Order.OrderItems)
                        {
                            i++;

                            <tr>
                                <th scope="row">@i</th>
                                <td>
                                    <a href="@Url.ProductDetails(orderItem.Product.Category.SanitizedName, orderItem.ProductID)" target="_blank">
                                        @orderItem.Product.Name
                                    </a>
                                </td>
                                <td>
                                    @orderItem.ItemPrice
                                </td>
                                <td>
                                    @orderItem.Quantity
                                </td>
                                <td>
                                    @(orderItem.ItemPrice * orderItem.Quantity)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-right">
                                <strong>Total Ammount</strong>
                            </td>
                            <td colspan="2">
                                <span>
                                    @Model.Order.TotalAmmount
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">
                                <strong>Discount</strong>
                            </td>
                            <td colspan="2">
                                <span>
                                    @Model.Order.Discount
                                </span>
                                @if (Model.Order.Promo != null)
                                {
                                    <div class="alert alert-success mb-0 mt-1" role="alert">
                                        @string.Format("Promo Applied '{0}'.", Model.Order.Promo.Code)
                                    </div>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">
                                <strong>Delivery Charges</strong>
                            </td>
                            <td colspan="2">
                                <span>
                                    @Model.Order.DeliveryCharges
                                </span>                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-right">
                                <strong>Total</strong>
                            </td>
                            <td colspan="2">
                                <span>
                                    @Model.Order.FinalAmmount
                                </span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </li>
            <li class="list-group-item bg-light lead">Customer and Shipping Details</li>
            <li class="list-group-item">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Full Name</label>
                        <div class="col-sm-10">
                            <input name="FullName" type="text" class="form-control disabled" value="@Model.Order.CustomerName" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Email</label>
                        <div class="col-sm-10 text-left">
                            <input name="Email" type="email" class="form-control disabled" value="@Model.Order.CustomerEmail" disabled>
                            <a href="@Url.Orders(Model.Order.CustomerEmail)" target="_blank">See other orders from this customer.</a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Phone Number</label>
                        <div class="col-sm-10">
                            <input name="PhoneNumber" type="text" class="form-control disabled" value="@Model.Order.CustomerPhone" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Country</label>
                        <div class="col-sm-10">
                            <input name="Country" type="text" value="@Model.Order.CustomerCountry" class="form-control disabled" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">City</label>
                        <div class="col-sm-10">
                            <input name="City" type="text" value="@Model.Order.CustomerCity" class="form-control disabled" disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">Address</label>
                        <div class="col-sm-10">
                            <textarea name="Address" class="form-control disabled" disabled>@Model.Order.CustomerAddress</textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label text-right">ZipCode</label>
                        <div class="col-sm-10">
                            <input name="ZipCode" type="text" value="@Model.Order.CustomerZipCode" class="form-control disabled" disabled>
                        </div>
                    </div>
                </form>
            </li>
            @if (Model.Order.OrderHistory != null)
            {
                <li class="list-group-item bg-light lead">
                    Order History
                </li>
                <li class="list-group-item">
                    <div class="row text-left">
                        <div class="col col-md-6 border-right">
                            @foreach (var historyItem in Model.Order.OrderHistory.OrderByDescending(x => x.ModifiedOn))
                            {
                                <blockquote class="blockquote">
                                    <p class="mb-0">
                                        <span class="badge badge-secondary @Html.getCellBackgroundClassByOrderStatus((OrderStatus)historyItem.OrderStatus)">
                                            @((OrderStatus)historyItem.OrderStatus)
                                        </span>
                                        - @historyItem.Note
                                    </p>
                                    <footer class="blockquote-footer">@historyItem.ModifiedOn</footer>
                                </blockquote>
                                <hr />
                            }
                        </div>
                        <div class="col col-md-6">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border m-5 p-5" role="status" id="updateStatusLoader" style="display:none">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                            <form id="updateStatusForm">
                                <div class="form-group">
                                    <label>Order Status</label>
                                    <select class="form-control" name="OrderStatus">
                                        @foreach (var _orderStatus in Enum.GetValues(typeof(OrderStatus)).Cast<OrderStatus>())
                                        {
                                            <option value="@((int)_orderStatus)">@_orderStatus.ToString()</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Note</label>
                                    <textarea class="form-control" name="Note" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" id="updateStatusButton">Update Status</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}

<script>
    $("#updateStatusForm").validate({
        errorClass: "alert alert-danger",
        errorElement: "div",
        rules: {
            Note: {
                required: true,
                minlength: 15,
                maxlength: 300
            },
            OrderStatus: {
                required: true
            }
        },
        messages: {
            Note: {
                required: "Note is required.",
                minlength: "Minimum Length is 15.",
                maxlength: "Maximum Length is 300."
            },
            OrderStatus: {
                required: "Please select Order Status."
            },
        },
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass);
        }
    });

    $("#updateStatusButton").click(function () {
        if ($("#updateStatusForm").valid()) {
            $("#updateStatusForm").hide();
            $("#updateStatusLoader").show();

            $.ajax({
				url: "@Url.EditAction("Orders", Model.Order.ID)",
                type: "post",
                data: $("#updateStatusForm").serialize()
			})
            .done(function (response) {
                if (response != null && response.Success != undefined && response.Success) {
                    window.location.reload();
			    }
                else {
                    $("#updateStatusForm").show();
                    $("#updateStatusLoader").hide();

                    swal("Error!", response.Message, "error");
			    }
			});
        }
    });
</script>